<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings file="appsettings.config">
   <add key="key" value="XXX"/>
  <add key="password" value="XXX"/>
  <add key="accountNumber" value="XXX"/>
  <add key="meterNumber" value="XXX"/>
  <add key="productID" value="TEST"/>
  <add key="productVersion" value="9999"/>
  <add key="integratorID" value="123"/>
  </appSettings>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="EdtDemo.TraceExtension, EdtDemo"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>

</configuration>