<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings file="appsettings.config"></appSettings>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="EdtDemo.TraceExtension, EdtDemo"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>

</configuration>